

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one{
    background-image:url(../src/img/Tesla\ img\ page\ 1.png);
    background-size: cover;
}

.two{
    background-image:url(../src/img/Tesla\ img\ page\ 2.png);
    background-size: cover;
}

.three{
    background-image:url(../src/img/Tesla\ img\ page\ 3.png);
    background-size: cover;
}

.logo img{
width: 100px;
height: 10px;
    
    
}


nav .navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
   

}

nav .navbar .nav-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 40%;

}

nav .navbar .nav-items li{
    list-style: none;
}

nav .navbar .nav-items li a{
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
}