{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}

body{
    background-color:#ba8fe3;

}

.card{
    border: 1px solid white;
    width: 640px;
    height: 400px;
    position: absolute;
    margin: auto;
    left: 0 ;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-perspective: 1200px;
    perspective: 12;
}

.outside,
.inside {
    border: 1px solid black;
    height: 100%;
    width: 50%;
    position: absolute;

}
.inside {
    left: 50.1%;
}

.outside{

}
 .front{
    height:100%;
    width: 100%;
    position: absolute;


 }
.front, .back {
    height:100%;
    width:100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateX(0deg);
}

.front {
    background-color: white;
}

.back{
    transform:rotateY(180deg);
    background: linear-gradient(to left, #e0e0e0,
    white 30%);
}
.cake{
    width:100%;
    position:absolute;
    bottom:0;
}

.top-layer{
    height: 80px;
    width:240px;
    background-repeat: repeat;
    background-size:60px 100px;
    background-image: linear-gradient(
        transparent 50px,
        #fedbab 50px,
        #fedbab 60px,
        transparent 60px,
    );
}