img {
    width: 135%;
    margin-top: -50px;
    margin-left: -50px;
    
    
}

p {
    margin-top: -1rem;
    margin-left: -45px;
}

h3{
    margin-top: 0rem;
    margin-left: -45px;
}
   
body {
    background-color: white;
}

#container{
    max-width: 400px;
    margin: 0 auto;
    margin-top: 20vh;
    
}

.card{
    background-color: #FFEDBF;
    border: 50px solid #FFEDBF;
    
   
}

p1{
    color:#bfa563;
    margin-left: -45px;
    text-decoration: underline;
    
}

p2{
    color:#bfa563;
    text-decoration: underline;
    margin-left: 10px;

}
p3{
    color:#bfa563;
    text-decoration: underline;
    margin-left: 10px;

}

div.card {
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
